<h1>Listing All Scans</h1>

<div class="CSSTableGenerator">
<table>
    <tr>
      <td>Username</td>
      <td>Sketch Score</td>
      <!-- <td>Average Sentiment (-3 to 3)</td> -->
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @scans.each do |scan| %>
      <tr>
        <td><%= scan.username %></td>
        <td><%= scan.score %></td>
        <!-- <td><%= scan.average_sentiment %></td> -->
        <td><%= link_to 'Show', scan %></td>
        <td><%= link_to 'Edit', edit_scan_path(scan) %></td>
        <td><%= button_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
</div>

<br>

<%= link_to 'New Scan', new_scan_path %>
