<div class="row text-center">
    <%= form_for(@scan,html: {class: "form-signin", role: "form"}) do |f| %>
      <h2 class="form-signin-heading">Start New Scan</h2>
      <% if @scan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@scan.errors.count, "error") %> prohibited this scan from being saved:</h2>
          <ul>
          <% @scan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.text_field :username, placeholder: "Twitter Handle", value: "corbin_page", class: "form-control", autofocus: true %>
      </div>
      <div class="actions">
        <%= f.submit "Start Scan", class: "btn btn-lg btn-success btn-block" %>
      </div>
    <% end %>
</div>