<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @scan.username %>
</p>

<p>
  <strong>Score:</strong>
  <%= @scan.score %>
</p>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
