<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sketch Meter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sketch Meter" %>">
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  <footer>
  <nav role="navigation" id="footerBar">
    <div id="footerDiv">
      <a class = "footerLinks" href="https://github.com/corbinpage/sketch-meter" target="_blank">About</a>
      <div class = "footerText">|</div>
      <a class = "footerLinks" href="https://twitter.com/corbin_page" target="_blank">Contact</a>
    </div>  
  </nav>
</footer>
</html>
